* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: rgb(133, 185, 231);
    line-height: 1.6;
}
#showcase {
    height: 100vh;
    background-image: url(tokyo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}
#showcase h1{
    font-size: 50px;
    color: blanchedalmond;
}
#showcase p{
    font-size: 20px;
    color: yellow;
}
#showcase .button {
    font-size: 18px;
    color: blanchedalmond;
    text-decoration: none;
    border: blanchedalmond 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 160px;
    margin: 10px auto;
}
#showcase .button:hover {
    background-color: blanchedalmond;
    color: black;
    ;
}