body {
  margin: 0;
  padding: 0%;
  width: 100%;
}
header {
  width: 100%;
  height: 40vh;
  background: url("background.jpg") no-repeat 50% 50%;
  background-size: cover;
}
nav {
  position: fixed;
  width: 100%;
}
nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
.texte {
  margin: 4vh auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 85%;
}
nav.scroll ul {
  background-color: #000;
}
.hamburger {
  display: none;
  color: #fff;
  background: #000;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  padding: 15px 24px;
}
img {
  width: 600px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

/* Responsive */
@media (max-width: 580px) {
  .hamburger {
    display: block;
  }
  .logo {
    position: fixed;
    top: 0;
  }
  nav ul {
    max-height: 0;
    background: #000;
  }
  .menu {
    max-height: 20em;
  }
  nav ul li {
    width: 100%;
    padding: 24px 0;
  }
}
